<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/new">
      <button>Add message</button>
    </a>
    <ul>
      <% messages.forEach(function(message) { %>
        <li>
          <p><%= message.user %></p>
          <p><%= message.text %></p>
          <p><%= message.added %></p>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
